@(user: securesocial.core.Identity)(implicit request: RequestHeader)
@import securesocial.core.IdentityProvider

@layout("Get Politickle!") {
<div class="header">
  <h2><img src="@user.avatarUrl" alt="@user.firstName" width="40px" height="40px"/> Welcome @user.firstName</h2>
</div>

<div class="jumbotron">
  <h1>Get Politickle!</h1>
  <p class="lead">Create a targeted poll and get answers from the
    politicians who want your vote</p>
  <p><a class="btn btn-lg btn-primary" href="@routes.PollsController.newPoll" role="button">Create a Politickle Poll</a></p>
</div>
}
