@(pollForm: Form[PollsController.PollFormData])(implicit token: play.filters.csrf.CSRF.Token)
@import helper._

@layout("Create a new poll") {
<h2>Create Poll</h2>

  <form method="POST" action="@routes.PollsController.create">
    <div class="form-group">
      <label for="description">Poll question</label>
      <input type="text" class="form-control" name="description" placeholder="Which is better?" />
    </div>

    <div class="form-group">
      <label for="choices[0].description">Choice 1</label>
      <input type="text" class="form-control" name="choices[0].description" placeholder="Socialized medicine" />
    </div>

    <div class="form-group">
      <label for="choices[1].description">Choice 2</label>
      <input type="text" class="form-control" name="choices[1].description" placeholder="Privatized medicine" />
    </div>

    <div class="form-group">
      <label for="pollTargets[0].handle">Target 1</label>
      <input type="text" class="form-control" name="pollTargets[0].handle" placeholder="@@HilaryClinton"/>
    </div>

    <div class="form-group">
      <label for="pollTargets[1].handle">Target 2</label>
      <input type="text" class="form-control" name="pollTargets[1].handle" placeholder="@@MicheleBachmann"/>
    </div>

    <input type="hidden" name="pollTargets[0].twitterUserId" value="14244109" />
    <input type="hidden" name="pollTargets[1].twitterUserId" value="18217624" />


    @CSRF.formField
    <div class="form-group">
      <button type="submit" class="form-control btn btn-primary" value="Tweet Poll">Create Poll</button>
    </div>

  </form>
}
