@(pollForm: Form[PollsController.PollFormData])(implicit token: play.filters.csrf.CSRF.Token)
@import helper._

@layout("Create a new poll") {
<h2>Create Poll</h2>

  <form method="POST" action="@routes.PollsController.create">
    <label for="description">Poll question</label>
    <input type="text" name="description" placeholder="Which is better?" />

    <label for="choices[0].description">Choice 1</label>
    <input type="text" name="choices[0].description" placeholder="Socialized medicine" />

    <label for="choices[1].description">Choice 2</label>
    <input type="text" name="choices[1].description" placeholder="Privatized medicine" />

    <label for="pollTargets[0].handle">Target 1</label>
    <input type="text" name="pollTargets[0].handle" placeholder="@@HilaryClinton"/>

    <label for="pollTargets[1].handle">Target 2</label>
    <input type="text" name="pollTargets[1].handle" placeholder="@@MicheleBachmann"/>

    <input type="hidden" name="pollTargets[0].twitterUserId" value="14244109" />
    <input type="hidden" name="pollTargets[1].twitterUserId" value="18217624" />

    @CSRF.formField
    <br/><input type="submit" value="Tweet Poll"/>
  </form>
}