@(poll: Poll, choices: Seq[Choice], targets: Seq[String], ownerUser: User, user: Option[User], userResponse: Option[Response], currentUrl: String)(implicit token: play.filters.csrf.CSRF.Token)
@import helper._

@metaTags(poll: Poll, choices: Seq[Choice], ownerName: String, ownerTwitterHandle: String, ownerTwitterId: String, currentUrl: String) = {
    <meta name="twitter:card" content="com.politickle:politickle">
    <meta name="twitter:politickle:asker:id" content="@ownerTwitterId">
    <meta name="twitter:politickle:asker:name" content="@ownerName">
    <meta name="twitter:politickle:question:id" content="@poll.id">
    <meta name="twitter:politickle:question" content="@poll.description">
    <meta name="twitter:politickle:choice1:text" content="@choices.head.description">
    <meta name="twitter:politickle:choice2:text" content="@choices.last.description">
    <meta name="twitter:politickle:choice1:id" content="@choices.head.id">
    <meta name="twitter:politickle:choice2:id" content="@choices.last.id">
    <meta name="twitter:politickle:submiturl" content="https://cards-staging.twitter.com/cards/polls/@poll.id/responses?isCard=true">
    <meta name="twitter:politickle:cardurl" content="@currentUrl">
    <meta name="twitter:politickle:politician1:id" content="9651">
    <meta name="twitter:politickle:politician1:name" content="cbrumelle">
    <meta name="twitter:politickle:politician2:id" content="14877873">
    <meta name="twitter:politickle:politician2:name" content="vyas">
}

@initData = {
  <input type="hidden" class="json-data" id="init-data" value='{"pageName": "polls/show"}'/>
}

@choicesRadioButton(choice: Choice, userResponse: Option[Response]) = {
  @if(userResponse.isDefined && userResponse.get.choiceId == choice.id.get) {
  <label class="btn btn-default active">
    <input type="radio" name="choice_id" id="choice_id_@choice.id" value="@choice.id" checked > @choice.description
  </label>
  } else {
  <label class="btn btn-default">
    <input type="radio" name="choice_id" id="choice_id_@choice.id" value="@choice.id"> @choice.description
  </label>
  }
}

@tweetYourAnswer(status: String, cta: String) = {
    @if( user.isDefined ){
    <form class="form-inline poll-inline" id="tweet-response" name="tweet-response" method="post" action="@routes.TwitterActionsController.postTweet()">
        <input name="tweet" type="hidden" class="form-control" placeholder="..." value="@status">
        @CSRF.formField

        <div class="form-group input-group">
            <input class="btn btn-primary" type="submit" value="@cta">
        </div>
    </form>
    }
}

@tweetText = {
@if(targets.equals(Nil)) {
        I just answered a question on #politickle. You can do it too! @currentUrl
    } else {
        I just answered a question posed to @targets.mkString(" and ") on #politickle. You can do it too! @currentUrl
}
}

@tweetQuestionText = {
    @if(targets.equals(Nil)) {
        I would like you to answer a question that I created on #politickle. @currentUrl
    } else {
        I just created a question on #politickle for @targets.mkString(" and "). Would you like to answer? @currentUrl
    }
}

@layout(title=poll.description, headContent=metaTags(poll, choices, ownerUser.twitterName, ownerUser.twitterHandle.get, ownerUser.twitterId, currentUrl), initData=initData) {

    <div id="tweetFailure" class="alert alert-danger hidden">
        Failed to post your tweet. Please try again later.
    </div>

    <div id="tweetSuccess" class="alert alert-success hidden">
        Your tweet was successfully posted to your timeline!
    </div>

    <div id="newSubmission" class="alert alert-success hidden">
        <span class='glyphicon glyphicon-saved'></span> You have <strong>answered</strong> successfully.
        @tweetYourAnswer(tweetText.body, "Tweet your answer!")
    </div>

  @if( userResponse.isDefined ) {
    <div id="existingSubmission" class="alert alert-success">You have <strong>answered</strong> this question earlier, but you can <strong><em>reanswer</em></strong>.
        @tweetYourAnswer(tweetText.body, "Tweet your answer!")
    </div>
  }

  <h2 id="poll-description">@poll.description</h2>
  <form id="user-response" name="user-response" method="post" action="@routes.ResponsesController.create(poll.id.get, false)">
      <input name="poll_id" value="@poll.id" type="hidden" />
      <div class="container">
        <div id="choice-btns" class="col-md8 form-group btn-group" data-toggle="buttons">
        @for(choice <- choices) {
        <p>
          @choicesRadioButton(choice, userResponse)
        </p>
        }
        </div>
        <div id="chart" class="col-md4 pull-right"></div>
      </div>
      @if( user.isEmpty ){
      <p>
        <a href="@securesocial.core.providers.utils.RoutesHelper.authenticate("twitter")">
          <img src="@routes.Assets.at("images/sign-in-with-twitter-gray.png")" alt="Sign in with Twitter">
        </a>
      </p>
      } else {
      <div class="form-group input-group">
        <span class="input-group-addon">Add an explanation</span>
        <textarea name="explanation" type="text" class="form-control" placeholder="..." value="@if(userResponse.isDefined){@userResponse.get.explanationText}"></textarea>
      </div>
      @CSRF.formField
      <input name="twitter_id" type="hidden" value="@user.get.twitterId" >
      <div class="form-group">
      <input class="btn btn-primary" type="submit" value="Submit your answer">
      </div>
      </p>
    }
  </form>
@tweetYourAnswer(tweetQuestionText.body, "Tweet the question!")

  <br/>
  <h5>Poll was created by <br/> <a href="https://twitter.com/@ownerUser.twitterHandle">@@@ownerUser.twitterHandle</a></h5>
}
