@(title: String = "Get Politickle!", headContent: Html = Html(""), footContent: Html = Html(""))(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("bower_components/bootstrap/dist/css/bootstrap.min.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/index.css")">
        @headContent
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <span class="brand" >Get Politickle!</span>
                </div>
            </div>
        </div>

        <div class="container" style="padding-top:30px">
            @content
        </div>

        <script src="@routes.Assets.at("bower_components/es5-shim/es5-shim.js")"></script>
        <script src="@routes.Assets.at("bower_components/es5-shim/es5-sham.js")"></script>
        <script src="@routes.Assets.at("bower_components/jquery/jquery.js")"></script>
        <script src="@routes.Assets.at("bower_components/bootstrap/dist/js/bootstrap.min.js")"></script>
        <script data-main="@routes.Assets.at("javascripts/main.js")" src="@routes.Assets.at("bower_components/requirejs/require.js")"></script>
        @footContent
    </body>
</html>